<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Buat Aduan</title>
  </head>
  <body>

    <!-- NAVBAR -->

    <%- include('navbar'); %>

    <div class="container">

      <!-- BORANG BUAT ADUAN -->

      <h1 class="header">Buat Aduan</h1>

      <form class="aduan" action="/buat-aduan" method="post">

        <!-- MAKLUMAT PENGADU -->

        <div class="maklumat-pengadu">

          <h3>Maklumat Pengadu</h3>

          <table class="center-table">
            <tbody>
              <tr>
                <td><label for="no_aduan">No Aduan</label></td>
                <td><input class="no-aduan" type="text" name="no_aduan" value=""></td>
              </tr>
              <tr>
                <td><label for="id_pengguna">ID Pengguna</label></td>
                <td><input class="id-pengguna" type="text" name="id_pengguna" value="<%= infoStaf.ID %>"></td>

                <td><label for="nama_pengadu">Nama Pengadu</label></td>
                <td class="nama-pengadu-input"><input class="nama-pengadu" type="text" name="nama_pengadu" value="<%= infoStaf.Nama_Staf %>"></td>
              </tr>
            </tbody>
          </table>

        </div>

        <!-- INFO PENGADUAN -->

        <div class="info-pengaduan">

          <h3>Info Pengaduan</h3>

          <table class="center-table">
            <tbody>
              <tr>
                <td><label for="jenis_aduan">Jenis Aduan</label></td>
                <td>
                  <select class="" name="jenis_aduan">
                    <option value="">Sila Pilih</option>
                    <option value="1">Senggara</option>
                    <option value="2">Kebersihan</option>
                    <option value="3">Perkebunan</option>
                    <option value="4">IT</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td><label for="kawasan">Kawasan</label></td>
                <td>
                  <select class="" name="kawasan">
                    <option value="">Sila Pilih</option>
                    <% rowsOfKawasan.forEach( function(row) { %>
                    <option value="<%= row.PK_Kawasan %>"><%= row.Nama_Kawasan %> </option>
                    <% }) %>
                  </select>
                </td>
              </tr>
              <tr>
                <td><label for="lokasi">Lokasi</label></td>
                <td>
                  <select class="" name="lokasi">
                    <option value="">Sila Pilih</option>
                    <% rowsOfLokasi.forEach( function(row) { %>
                    <option value="<%= row.PK_Lokasi %>"><%= row.Nama_Lokasi %> </option>
                    <% }) %>
                  </select>
                </td>
              </tr>
              <tr>
                <td><label for="kategori">Kategori</label></td>
                <td>
                  <select class="" name="kategori">
                    <option value="">Sila Pilih</option>
                    <% rowsOfKategori.forEach( function(row) { %>
                    <option value="<%= row.PK_Kategori %>"><%= row.Nama_Kategori %> </option>
                    <% }) %>
                  </select>
                </td>
              </tr>
              <tr>
                <td><label for="item">Item</label></td>
                <td>
                  <select class="" name="item">
                    <option value="">Sila Pilih</option>
                    <% rowsOfItem.forEach( function(row) { %>
                    <option value="<%= row.PK_Peralatan %>"><%= row.Nama_Peralatan %> </option>
                    <% }) %>
                  </select>
                </td>
              </tr>
              <tr>
                <td><label for="perihal">Perihal</label></td>
                <td><textarea name="perihal" rows="8" cols="30"></textarea></td>
              </tr>
              <tr>
                <td><label for="tarikh_aduan">Tarikh Aduan</label></td>
                <td><input type="date" name="tarikh_aduan" value=""></td>
              </tr>
            </tbody>
          </table>

        </div>

        <!-- SUMBIT BUTTON -->

        <button type="submit" name="hantar_aduan">Hantar Aduan</button>

      </form>

    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/public/javascript/navbar.js"></script>

  </body>
</html>
