<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Buat Aduan</title>
  </head>
  <body>

    <!-- NAVBAR -->

    <%- include('navbar'); %>

    <div class="container">

      <!-- BORANG BUAT ADUAN -->

      <h1 class="header">Buat Aduan</h1>

      <form name="aduan" class="aduan" action="/buat-aduan" method="post">

        <!-- MAKLUMAT PENGADU -->

        <div class="maklumat-pengadu">

          <h3>Maklumat Pengadu</h3>

          <table class="center-table">
            <tbody>
              <tr>
                <td><label for="id_pengguna">ID Pengguna</label></td>
                <td><input class="id-pengguna" type="text" name="id_pengguna" value="<%= infoStaf.ID %>" required></td>

                <td><label for="nama_pengadu">Nama Pengadu</label></td>
                <td class="nama-pengadu-input"><input class="nama-pengadu" type="text" name="nama_pengadu" value="<%= infoStaf.Nama_Staf %>" required></td>
              </tr>
            </tbody>
          </table>

        </div>

        <!-- INFO PENGADUAN -->

        <div class="info-pengaduan">

          <h3>Info Pengaduan</h3>

          <table class="center-table">
            <tbody>
              <tr>
                <td><label for="jenis_aduan">Jenis Aduan</label></td>
                <td>
                  <select class="jenis_aduan "name="jenis_aduan" required>
                    <option value="" selected disabled>Sila Pilih</option>
                    <option value="1">Senggara</option>
                    <option value="2">Kebersihan</option>
                    <option value="3">Perkebunan</option>
                    <option value="4">IT</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td><label for="kawasan">Kawasan</label></td>
                <td>
                  <select class="kawasan" name="kawasan" required>
                    <option value="" selected disabled>Sila Pilih</option>
                    <% rowsOfKawasan.forEach( function(row) { %>
                    <option value="<%= row.PK_Kawasan %>"><%= row.Nama_Kawasan %> </option>
                    <% }) %>
                  </select>
                </td>
              </tr>
              <tr>
                <td><label for="lokasi">Lokasi</label></td>
                <td>
                  <select class="lokasi" name="lokasi" required>
                    <option value="" selected disabled>Sila Pilih</option>
                    <% rowsOfLokasi.forEach( function(row) { %>
                    <option value="<%= row.PK_Lokasi %>"><%= row.Nama_Lokasi %> </option>
                    <% }) %>
                  </select>
                </td>
              </tr>
              <tr>
                <td><label for="kategori">Kategori</label></td>
                <td>
                  <select class="" name="kategori" required>
                    <option value="" selected disabled>Sila Pilih</option>
                    <% rowsOfKategori.forEach( function(row) { %>
                    <option value="<%= row.PK_Kategori %>"><%= row.Nama_Kategori %> </option>
                    <% }) %>
                  </select>
                </td>
              </tr>
              <tr>
                <td><label for="item">Item</label></td>
                <td>
                  <select class="" name="item" required>
                    <option value="" selected disabled>Sila Pilih</option>
                    <% rowsOfItem.forEach( function(row) { %>
                    <option value="<%= row.PK_Peralatan %>"><%= row.Nama_Peralatan %> </option>
                    <% }) %>
                  </select>
                </td>
              </tr>
              <tr>
                <td><label for="perihal">Perihal</label></td>
                <td><textarea name="perihal" rows="8" cols="30" required></textarea></td>
              </tr>
              <tr>
                <td><label for="tarikh_aduan">Tarikh Aduan</label></td>
                <td><input type="date" name="tarikh_aduan" value="" required></td>
              </tr>
            </tbody>
          </table>

        </div>

        <!-- SUMBIT BUTTON -->

        <button type="submit" name="hantar_aduan">Hantar Aduan</button>

      </form>

    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/public/javascript/buat-aduan.js"></script>
    <script type="text/javascript">
    $(".kawasan").click( function(event) {

      let current_kawasan = document.aduan.kawasan.value
      let index = 1
      let data = <%- JSON.stringify(rowsOfLokasi) %>

      document.aduan.lokasi.options.length = 0
      document.aduan.lokasi.options[0] = new Option("Sila Pilih", "0", true, false)

      data.forEach( function(row) {
        if (row.FK_Kawasan == current_kawasan) {
          document.aduan.lokasi.options[index] = new Option(`${row.Nama_Lokasi}`, `${row.PK_Lokasi}`, false, false)
          index++
        }
      })

    })
    </script>

  </body>
</html>
