<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Info Aduan</title>
  </head>
  <body>

    <!-- NAVBAR -->

    <%- include('navbar'); %>

    <div class="container">

      <!-- INFO ADUAN -->

      <h3 class="header">Info Aduan</h3>

      <table class="borderless center-table">
          <tbody>
            <tr>
              <td>Jenis Aduan</td>
              <td><%= aduan.Nama_Bidang %></td>
            </tr>
            <tr>
              <td>Kawasan</td>
              <td><%= aduan.Nama_Kawasan %></td>
            </tr>
            <tr>
              <td>Lokasi</td>
              <td><%= aduan.Nama_Lokasi %></td>
            </tr>
            <tr>
              <td>Kategori</td>
              <td><%= aduan.Nama_Kategori %></td>
            </tr>
            <tr>
              <td>Item</td>
              <td><%= aduan.Nama_Peralatan %></td>
            </tr>
            <tr>
              <td>Perihal</td>
              <td><%= aduan.Catatan_Kerosakan %></td>
            </tr>
            <tr>
              <td>Gambar</td>
              <td><img src="/public/images/tandas.jfif" alt="Gambar tandas"></td>
            </tr>
          </tbody>
      </table>

      <!-- INFO PENERIMA TUGAS -->

      <h3 class="header">Info Penerima Tugas</h3>

      <table class="borderless center-table extra-space">

        <tbody>
          <tr>
            <td>Nama Petugas</td>
            <td><%= aduan.Nama_Staf %></td>
          </tr>
          <tr>
            <td>Tarikh Terima</td>
            <td><%= aduan.Tarikh_Terima_Tugasan %></td>
          </tr>
          <tr>
            <td>Ulasan</td>
            <td><%= aduan.Komen_Teknikal %></td>
          </tr>
          <tr>
            <td>Tarikh Siap</td>
            <td><%= aduan.Tarikh_Selesai %></td>
          </tr>
        </tbody>

      </table>

    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/public/javascript/navbar.js"></script>

  </body>
</html>
