<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Tindakan</title>
  </head>
  <body>

    <!-- NAVBAR -->

    <%- include('navbar'); %>

    <div class="container">

      <h1 class="header">Tindakan</h1>

      <form class="" action="/tindakan-lengkap" method="post">

        <!-- SENARAI NO. ADUAN -->

        <h3>Senarai No. Aduan</h3>

        <table class="direktori center-table">

          <thead>
            <tr>
              <th>Bil.</th>
              <th>No. Aduan</th>
              <th>Kawasan</th>
              <th>Lokasi</th>
              <th>Jenis Tugasan</th>
              <th>Kategori</th>
              <th>Perihal</th>
            </tr>
          </thead>
          <tbody class="clickable-row">
            <% rowsOfAduan.forEach( function(row) { %>
            <% if (row.Status_Aduan == 1) { %>
            <tr class="yellow">
            <% } else if (row.Status_Aduan == 2) { %>
            <tr class="green">
            <% } else { %>
            <tr>
            <% } %>
              <td><%= row.ID %></td>
              <td><%= row.No_Aduan %></td>
              <td><%= row.Nama_Kawasan %></td>
              <td><%= row.Nama_Lokasi %></td>
              <td><%= row.Nama_Bidang %></td>
              <td><%= row.Nama_Kategori %></td>
              <td><%= row.Catatan_Kerosakan %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>

        <button type="button" name="reset">Reset</button>
        <button type="submit" name="semak" id="semak">Semak</button>

      </form>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/public/javascript/senarai-aduan.js"></script>

  </body>
</html>
