<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Info Aduan</title>
  </head>
  <body>

    <!-- NAVBAR -->

    <%- include('navbar'); %>

    <div class="container">

      <form class="" action="/terima-aduan" method="post">

        <!-- INFO ADUAN -->

        <h3>Info Aduan</h3>

        <table class="borderless center-table">
            <tbody>
              <tr>
                <td>Jenis Aduan</td>
                <td><%= aduan.Nama_Bidang %></td>
              </tr>
              <tr>
                <td>Kawasan</td>
                <td><%= aduan.Nama_Kawasan %></td>
              </tr>
              <tr>
                <td>Lokasi</td>
                <td><%= aduan.Nama_Lokasi %></td>
              </tr>
              <tr>
                <td>Kategori</td>
                <td><%= aduan.Nama_Kategori %></td>
              </tr>
              <tr>
                <td>Item</td>
                <td><%= aduan.Nama_Item %></td>
              </tr>
              <tr>
                <td>Perihal</td>
                <td><%= aduan.Catatan_Kerosakan %></td>
              </tr>
              <tr>
                <td>Gambar</td>
                <td><img src="/public/images/tandas.jfif" alt="Gambar tandas"></td>
              </tr>
            </tbody>
        </table>

        <!-- INFO PENERIMA TUGAS -->

        <h3>Info Penerima Tugas</h3>

        <table class="borderless center-table extra-space">

          <tbody>
            <tr>
              <td>Nama Penerima</td>
              <td><input type="text" name="nama_penerima" value="<%= name %>"></td>
            </tr>
            <tr>
              <td>Tarikh Terima</td>
              <td><input type="date" name="tarikh_terima" value=""></td>
            </tr>
            <tr>
              <td>Ulasan</td>
              <td><textarea name="ulasan" value=""></textarea></td>
            </tr>
          </tbody>

        </table>

        <button type="submit" name="terima_tugasan" value="<%= no_tindakan %>">Terima Tugasan</button>
        <button type="submit" name="selesai_tugasan" value="<%= no_tindakan %>">Selesai Tugasan</button>

      </form>

    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/public/javascript/navbar.js"></script>

  </body>
</html>
